---
import "../assets/styles.css";
import NavBar from "../components/NavBar.astro";
import BoxChannel from "../components/BoxChannel.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <link
      rel="stylesheet"
      href="https://paulirish.github.io/lite-youtube-embed/src/lite-yt-embed.css"
    />
    <title>Astro</title>
  </head>
  <body>
    <main>
      <div class="navbar">
        <NavBar />
      </div>
      <div class="container-channel">
        <BoxChannel />
      </div>
    </main>

    <script
      src="https://paulirish.github.io/lite-youtube-embed/src/lite-yt-embed.js"
      is:inline></script>

    <script is:inline>
      const liteYoutube = document.querySelector(".lite-youtube");
      const menuChannelsList = document.querySelectorAll(".menu-channels a");
      const containerChannel = document.querySelector(".container-channel");

      //   liteYoutube.addEventListener("onReady", (event) => {

      //   })

        player();
      //checkVideoOnline();
      menuChannelsList.forEach((link) =>
        link.addEventListener("click", (event) => {
          const youtubeId = link.getAttribute("data-youtube");
          const titleText = link.textContent;

          // Hack or non start view transition
          if (!document.startViewTransition) {
            menuChannelsList.forEach((link) =>
              link.parentElement.classList.remove("is-active")
            );
            link.parentElement.classList.add("is-active");
            loadVideo(youtubeId, titleText);
          }

          // Start view transition
          document.startViewTransition(() => {
            menuChannelsList.forEach((link) =>
              link.parentElement.classList.remove("is-active")
            );
            link.parentElement.classList.add("is-active");
            loadVideo(youtubeId, titleText);
			//checkVideoOnline(youtubeId, link.parentElement);
          });
        })
      );

      function loadVideo(youtubeId, titleText) {
        containerChannel.innerHTML = `
			<div class="top-bar">
				<h1>${titleText}</h1>
			</div>
			<lite-youtube class="lite-youtube" videoid="${youtubeId}" 
			params="controls=1&rel=0&enablejsapi=1&autoplay=1"
			style="background-image: url('https://i.ytimg.com/vi/'${youtubeId}'/hqdefault.jpg\');">
				<a href="https://youtube.com/watch?v=${youtubeId}" class="lty-playbtn" title="Ver Canal Online">
					<span class="lyt-visually-hidden">Ver Canal Online</span>
				</a>
			</lite-youtube>	
			`;
         player();
      
      }

   

        function player() {
          const player = document.querySelector("lite-youtube");
          setTimeout(() => {
            player.getYTPlayer().then((p) => {
              console.log(p);
            });
          }, 1000); // Agrega un retraso de 1 segundo
        }
    </script>
  </body>
</html>
